.container {
    width: 100%;
}

table {
    width: 100%;
}

.mat-column-comment {
    width: 60%;
    padding: 5px;
}

.mat-column-flightId {
    width: 10%;
    padding: 5px;
}

.mat-column-user {
    width: 10%;
    padding: 5px;
}

.mat-column-action {
    width: 20%;
    padding: 5px;
}